<launch>
  <!-- Arguments -->
  <arg name="model" />
  <arg name="map_file" default="$(find heist_guard/maps/map_2/map_2.yaml"/>
  <arg name="open_rviz"/>
  <arg name="move_forward_only"/>

  <arg name="first_tb3"/>

  <arg name="first_tb3_x_pos" default=" 3.25"/>
  <arg name="first_tb3_y_pos" default=" 3.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0.0"/>


  <node name="start_area" type="possible_start_areas.py" pkg="heist_guard" />

  <group ns = "$(arg first_tb3)">
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
   <param name="frame_id" value="/map" />
  </node>

   <!-- AMCL -->
   <include file="$(find heist_guard)/launch/amcl_guard.launch"/>

   <!-- Move base -->
   <include file="$(find heist_guard)/launch/move_base_guard.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>
  </group>

</launch>