<launch>

  <include file="$(find heist_guard)/launch/guard_navigation.launch">
    <arg name="map_file" default="$(find heist_guard)/maps/map_2/map_2.yaml"/>
    <arg name="guard_initial_pose_x" default="3.25"/>
    <arg name="guard_initial_pose_y" default="3.0"/>
    <arg name="guard_initial_pose_a" default="0.0"/>
  </include>

  <node pkg="heist_guard" type="possible_start_areas.py" name="possible_start_areas"/>

</launch>